#topBanner {
  width: 100%;
  height: 80px;
  background-color: #ea0068;
  overflow: hidden;
}
#topBanner .layout {
  width: 1200px;
  height: 100%;
  margin: 0px auto;
  position: relative;
}
#topBanner .layout #topClose {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: rgba(45, 45, 45, 0.3);
  line-height: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.3);
}
